{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "importMeta": true,
      "dynamicImport": true,
      "topLevelAwait": true
    },
    "target": "es2022",
    "loose": false
  }
}
